.Table {
    min-height: 50vh;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: url('../resources/poker-table-background.jpg');
}
